



.vertical-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}



.dropdown {
  margin-left: 25%;
  padding: 1px;
}

#editButton, #saveButton, #addButton {
  padding: 2px 20px;
  float: right;
  margin-right: 4px;
}


img {
  height: 220px;
  width: 250px;
  padding: 1px;
  border: 1px solid #021a40;
  position: relative;

}

.row {
  display: flex;
  margin-left: 25%;
  column-count: 3;
}



.tabActive {
  color:#ffffff !important;
  background-color: #555;
}

.container {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btnf {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #373131;
  cursor: pointer;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Add a light grey background on mouse-over */
.btnf:hover {
  background-color: #777171;
}

/* Add a dark background to the active button */
.btnf.active {
  background-color: #760898;
  color: white;
  border: 2px solid #760898 ;
}

.container{
  margin-top: 45px;
}

.zoom {
    transition: transform .2s;
    text-align: center;
    margin: 0 auto;
}

.zoom:hover {

    transform: scale(1.1);
}
